<div class="center">
    <div class="row">
        <div class="col-3"></div>
        <div class="alert alert-primary col-6" role="alert">
            Select points on the grid, and clcik on 'Draw Circle'
        </div>
        <div class="col-3"></div>
    </div>
    <br>
    <canvas #canvas width="400px" height="400px"></canvas>
    <br>
    <button class="btn custom-btn btn-margin" (click)="drawGrid()"> Reset Grid </button>
    <button class="btn custom-btn btn-margin" (click)="drawBlueCircle()"> Draw Circle </button>
</div>