<header class="navbar navbar-dark bg-dark-custom sticky-top flex-md-nowrap p-0 shadow">
  <a class="navbar-brand me-0 px-3" href="#">
    <i class="bi bi-gear-wide-connected icon-padding"></i>
    Neocis Software Assessment
  </a>
</header>

<div class="container-fluid padding-bottom-60px">
  <button class="btn custom-btn btn-margin"> Part 1 </button>
  <button class="btn custom-btn btn-margin"> Part 2 </button>
  <router-outlet></router-outlet>
</div>

<footer class="bg-dark-custom">
  <a class="footer-link" href="https://akashravi.github.io/" target="_blank"> Made with ♥️ by Akash Ravi </a>
</footer>