<header class="navbar navbar-dark bg-dark-custom sticky-top flex-md-nowrap p-0 shadow">
  <a class="navbar-brand me-0 px-3" href="#">
    <i class="bi bi-gear-wide-connected icon-padding"></i>
    Neocis Software Assessment
  </a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <button class="btn custom-btn btn-margin" routerLink="/part1"> Part 1 </button>
      <button class="btn custom-btn btn-margin" routerLink="/part2"> Part 2 </button>
    </li>
  </ul>

</header>

<div class="container-fluid padding-bottom-60px">
  <div class="margin-top-10px">
    <div class="row" *ngIf="isHomeRoute()">
      <div class="col-2"></div>
      <div class="alert alert-primary col-8 margin-top-60px" role="alert">
        This application was created for the Neocis Software Assessment.
        <br>
        Click on 'Part 1' or 'Part 2' to navigate to the respective sections and try out the code.
        <br>
        <br>
        - Made by Akash Ravi (akashkravi@gmail.com)
      </div>
      <div class="col-2"></div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="bg-dark-custom">
  <a class="footer-link" href="https://akashravi.github.io/" target="_blank"> Made with ♥️ by Akash Ravi </a>
</footer>